@font-face {
    font-family: 'Europa';
    src: url('../fonts/europa-regular.ttf') format('trutype');
    font-weight: 400;
}

@font-face {
    font-family: 'Europa';
    src: url('../fonts/europa-bold.ttf') format('trutype');
    font-weight: 700;
}
